<form class='mt-4' name="container-form" action="/courses/handleFormAction" method="post">
  <div>
    <h4 style='margin-right: 10px;'>Khóa học của tôi</h4>
    <a href='/me/trash/courses'>Thùng rác ({{deleteCount}})</a>
    <div class="mt-4 mb-2 d-flex flex-row justify-content-between align-items-center" style="width:350px">
      <div>
        <input type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      {{!-- --}}
      <select class="custom-select custom-select-sm" style="width:150px" name="action" required>
        <option selected value="">---Chọn hành động---</option>
        <option value="delete">--Xóa--</option>

      </select>
      <button class="btn btn-primary btn-sm active-btn disabled " data-toggle='modal' data-target='#delete-course'
        type="button">Thực
        hiện</button>
    </div>
  </div>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th scope='col'>#</th>
        <th scope='col'>Tên Khóa Học</th>
        <th scope='col'>Trình Độ</th>
        <th scope='col'>Thời Gian Tạo</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}

      <tr>
        <th>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]" id="defaultCheck1">
          </div>
        </th>
        <th scope='row'>{{sum @index 1}}</th>
        <td><a href='/courses/{{this.slug}}'>{{this.name}}</a></td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href='/courses/{{this._id}}/edit' type='button' class='btn btn-link'>Sửa</a>
        </td>
        <td>
          <a href='' class='btn btn-link delete-one' data-toggle='modal' data-target='#delete-course'
            data-id='{{this._id}}'>
            Xóa
          </a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan='5' class='text-center'>Bạn chưa đăng khóa học nào !!
          <a href='/courses/create'>Đăng khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! model want to delete }}
<div class='modal fade' id='delete-course' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel'
  aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Lưu ý</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        Xác nhận muốn xóa
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-danger'>Đồng ý xóa</button>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy Xóa</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var checkboxAll = $('#checkbox-all')
    var courseItemCheckbox = $('input[name="courseIds[]"]')
    var activeBtn = $('.active-btn')
    var btnDelete = document.querySelector('.btn.btn-danger');
    var forms = document.forms['container-form']
    $('#delete-course').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      console.log(button[0].className)
      switch (button[0].className) {
        case 'btn btn-link delete-one':
          var id = button.data('id');
          btnDelete.onclick = function (e) { location.replace(`/courses/${id}/delete`) }
          break
        case 'btn btn-primary btn-sm active-btn':
          btnDelete.onclick = function () {
            if (!activeBtn.hasClass('disabled')) {
              forms.submit()
            }
          }
          break
        default:
          console.log('loi')
      }
    })
    //checkbox all changed
    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked')
      courseItemCheckbox.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()

    })

    //checkbox item changed
    courseItemCheckbox.change(function () {
      var isCheckedAll = $('input[name="courseIds[]"]:checked').length === courseItemCheckbox.length
      checkboxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()

    })
    // disabled btn 
    function renderCheckAllSubmitBtn() {
      var checkCount = $('input[name="courseIds[]"]:checked').length
      if (checkCount > 0) {
        activeBtn.removeClass('disabled')
      }
      else {
        activeBtn.addClass('disabled')

      }
    }
    // can submit activeBtn??

  })
</script>